<?xml version="1.0" encoding="ISO-8859-1"?>
<Configuration monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyyMMdd} %d{HH:mm:ss} [%t] %-5p %-11c{1} - %m %x %n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="webservices" level="info" >
	      <AppenderRef ref="Console"/>
	    </Logger>
		<Logger name="page" level="info" >
	      <AppenderRef ref="Console"/>
	    </Logger>
		<Logger name="tasks" level="info" >
		  <AppenderRef ref="Console"/>
	    </Logger>
	    <Logger name="job" level="info" >
	      <AppenderRef ref="Console"/>
	    </Logger>
	    <Logger name="search" level="info" >
	      <AppenderRef ref="Console"/>
	    </Logger>
	    <Root level="info">
	      <AppenderRef ref="Console"/>
	    </Root>
	</Loggers>
</Configuration>

