<!DOCTYPE html>
<html>
	<head>
		<title>Bootstrap 101 Template</title>
		<!-- Bootstrap -->
		<link href="http://localhost:8080/demo2/static/css/bootstrap.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="http://localhost:8080/demo2/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/home">Kraft</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/managers">Managers</a></li>
							<li><a href="/definitions.html">Definitions</a></li>
							<li><a href="/datas.html">Datas</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		
		 <div class="container">
			{{#managers}}
			<ul class="nav nav-pills">
  				<li>
  					{{#icon}}
	  				<a class="btn btn-primary" href="#"><i class="{{icon}} icon-white"></i> {{name}}</a>
  					{{/icon}}
  					{{^icon}}
	    				<a href="#">{{name}}</a>
  					{{/icon}}
  				</li>
			</ul>
			{{/managers}}
		</div> <!-- Container -->
	<body>
</html>